.row-grid {
	margin:0px;
	padding-top: 7px;
	width:100%;
}
.col-grid-3 {
	display:inline-block; 
	margin:0px; 
	width:32%;
}

.ui-li-file-item:active {
	background-color: lightgrey;
} 
.ui-li-del-file-item {
	
}

.icon-active {
   	background-color: white;
   	cursor: pointer;
}

.icon-active:active {
   	background-color: #5dd;
   	cursor: pointer;
}

.icon-disabled {
	background-color: #a8a8a8;
}
.btn-text-disabled {
	color: #a8a8a8 !important;
}

.icon-filter {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/filter-tool-black-shape.png');
}
.icon-add {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/add-button.png');
}
.icon-del {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/rubbish-bin.png');
}
.icon-del-black {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: black;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/rubbish-bin.png');
}
.icon-back {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/go-back-left-arrow.png');
}
.icon-save {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/save-file-option.png');
  	-webkit-mask-repeat: no-repeat;
}
.ui-footer {
  	height: 65px;
}
.ui-footer-btn-text {
	color: white;
	font-size: 14px; 
}